<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Verify Email</title>
  </head>
  <body>
    <h3>Please verify your email</h3>
    <p>Please click the following link to verify your email address.<a
        href='{{urlLink}}'
      ><u>Verify Email</u></a></p>
  </body>
</html>